{% extends 'base.html' %}


{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
    <link rel ="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
    <title>Title</title>
</head>
<body>
<div class="page-header">
    {% if user.is_authenticated %}
    <a href="{% url 'blog:post_new' %}" class="top-menu"><span class="glyphicon-plus"></span></a>
    {% endif %}
    <h1><a href="{% url 'blog:post_list' %}">HYWU Blog</a></h1>
</div>
    {% for post in posts %}
    <div class="post">
        <div class="date">
            published:{{post.published_date}}
        </div>
        <h1><a href="{% url 'blog:post_detail' pk=post.pk%}">{{post.title}}</a></h1>
        <p>{{post.text|linebreaksbr}}</p>
        </div>
     {%endfor%}
{% endblock%}
